/*header*/
body{
	background: #f7f9f8;
}
.t{
	width: 100%;
}
.c{
	width: 1200px;
	margin: 0 auto;
}
ul,li,a{	
	text-align: center;
	color: #444;
}
.topNav{
	height: 30px;
	background: #f7f9f8;
}
.wrap{
	height: 30px;
	line-height: 30px;
	font-size: 13px;
}
#wrapLeft{
	height: 30px;
	width: 225px;
	position: relative;
}
.wrapLeftText{
	margin-right: 10px;
	color: #008842;
}
.cityName{
	color: #008842;
	width: 49px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.cityName:hover{
	background: #008842;
	color: white;
	text-decoration: none;
}
.wrapLeftText:hover .cityNameBox{
	display: block;
}
.cityName:hover i{
    background: url(../img/icon/header-img.png) no-repeat;
    background-position-x: -25px;
    background-position-y: 0;
}
.cityName i{
	width: 8px;
    height: 4px;
    margin-left: 5px;
    background: url(../img/icon/header-img.png) no-repeat 0 0;
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
}

i{
    display: inline-block;
    vertical-align: middle;
}
.cityNameBox{
	display: none;
    position: absolute;
    top: 28px;
    left: 118px;
    width: 482px;
   height: 315px;
    border: 2px solid #007f4d;
    background: #fff;
    z-index: 10;
    /*overflow: hidden;*/
}
.cityNameBoxTop{
	height: 30px;
	padding: 0 15px;
    line-height: 30px;
    color: #727272;
    background: #ededed;

}
#hotCity{
	height: 85px;
	width: 485px;
	margin-left: -2px;
}
#cList{
	position: relative;
}
.cityList{
	display: inline-block;
	height: 30px;
	width: 90px;	
	text-align: center;
	line-height: 30px;
	color: #007F4D;	
}
.cityList:nth-child(1){
	margin-left: 10px;
	border: 1px solid #ededed;;
}
/*#cityListTwo:hover+#cityListOne{
	border:none
}*/
.cityList:hover{	
	border: 1px solid #ededed;
}
#cityListTwo:hover #cityListBoxTwo{
	display: block;
}
#cityListBoxOne{
	position: absolute;
	top: 28px;
	left: 0;	
}

#cityListBoxTwo{
	display: none;
	position: absolute;
	top: 28px;
	left: 2px;	
}
.wrapLeftText:nth-child(1){
	margin-right: 10px;
	color: #444;
}
#wrapRight{
	height: 30px;
	width: 660px;
}
.wrapRightText{
	float: left;
	padding: 0 10px
}
.topBtn{
	width: 18px;
	height: 18px;
	background-image: url(../img/icon/header-img.png);
}
.topBtnPeople{
	background-position: -40px 0;
}
.topBtnList{
	width: 13px;
	height: 15px;
	background-position:0px 6px;
	background-image:no-repeat;
}
.topBtnPhone{
	background-position:-62px 0;
}
.topBtnGiftCard{
	width: 22px;
	background-position:-147px 0;
}
.topBtnGift{
	background-position:-86px 0;
}
.topBtnBusiness{
	width: 18px;
	height: 18px;
	background-image: url(../img/icon/topbusiness.png);
}
.headerSearch{
	height: 78px;
	background: #e0e0e0;
}
.headerSearchBox{
	height: 78px;
}
.SearchBox{
	width: 528px;
	height: 58px;
	margin:15px 0 0 135px;
}
.SearchInputBtn{
	width: 528px;
	height: 28px;
/*	border: .5px solid #007F4D;*/
}
#searchText{
	float: left;
    width: 425px;
    height: 26px;
    line-height: 27px;
    padding: 0 10px;
    border: 1px solid #008842;
    background: #e0e0e0;
    outline: none;
}
#searchBtn{
	float: left;
    display: block;
    width: 81px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #008842;
}
#searchMenu{
	margin-top: 10px;
}
.searchMenuName{
	display: inline-block;
	height: 30px;
	font-size: 12px;
    color: #008842;
    margin-left: 8px;
    
}
.searchMenuName:nth-child(1){
	margin-left: 1px;
}
.shopCar{
	width: 172px;
	height: 42px;
	border: 1px solid #008842;
	margin:15px 0; 
	background: white;
}
.shopCarPic{
    width: 30px;
    height: 19px;
    margin: 11px 0 0 50px;
    background-position: -112px 0;
}
.shopCarOverNum{
	color: #008842;
	margin-left: 8px;
	font-weight:550;
	font-size: 13px;
	line-height: 12px;;
}
.shopCarNum{
	font-size: 23px;
	color: #008842;
	line-height: 32px;
	margin-left: 10px;
}
/****************************吸顶**************************************/
.headerSearch2{
	height: 46px;
	background: #e0e0e0;
	opacity: 0.9;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.headerSearchBox2{
	height: 46px;
	/*opacity: 1;*/
}
.SearchBox2{
	width: 770px;
	height:30px;
	margin:10px 0 0 135px;
	/*opacity: 1;*/
}
#searchText{
	float: left;
    width: 425px;
    height: 26px;
    line-height: 27px;
    padding: 0 10px;
    border: 1px solid #008842;
    background: #e0e0e0;
    
}
#searchBtn{
	float: left;
    width: 81px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #008842;
}
#searchMenu2{
	width: 220px;
	margin-top: 7px;
}
.searchMenuName2{
	height: 30px;
	font-size: 12px;
    color: #008842;
    margin-left: 8px;
 
}
.searchMenuName2:nth-child(1){
	margin-left: 10px;
}
.shopCar2{
	width: 142px;
	height: 34px;
	border: 1px solid #008842;
	margin:5px 0; 
	background: white;
	/*opacity: 1;*/
}
.shopCarPic{
    width: 30px;
    height: 19px;
    margin: 11px 0 0 40px;
    background-position: -112px 0;
}
.shopCarOverNum{
	color: #008842;
	margin-left: 8px;
	font-weight:520;
	font-size: 13px;
	line-height: 12px;;
}
.shopCarNum2{
	font-size: 20px;
	color: #008842;
	line-height: 37px;
	margin-left: 5px;
}







/*************************body********************************/
#banner{
	height:500px ;
}
#beforeBtn{
	position: absolute;
	height: 100px;
	width: 50px;
	top: 300px;
	left: 1px;
	z-index: 9;
/*	background: black;*/
}
#nextBtn{
	position: absolute;
	height: 100px;
	width: 50px;
	top: 300px;
	right: 1px;
	z-index: 9;
/*	background: black;*/
}
.beforePic{
	background-position: 8px 0;
}
.nextPic{
	background-position: -46px 0;	
}
.slideBtn{
	display: none;
	height: 100px;
	width: 50px;
	background-image: url(../img/icon/slider-btn.png) ;
	background-repeat: no-repeat;
	opacity: 0.3;
}
#banner:hover .slideBtn{
	display: inline-block;
}
.slideBtn:hover{
	opacity: 0.8;
}
#bannerPicBox{
	display: block;
	position: relative;
    width: 1349px;
    height: 500px;
    overflow: hidden;
    margin: -38px auto;
    
}
.bannerPicList{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100% !important;
    height: 500px;
    background-position: center !important;
   /* background-repeat: no-repeat;*/
    transform: scaleX(1.1) scaleY(1.1);
    transition: transform 3s linear;
}
.bannerPicList:nth-child(1){
	z-index: 4;
}
#bannerPicBtnBox{					
	height: 20px;
	width: 100%;
	position: absolute;
	top: 580px;
	left: 0;
	z-index: 9;
}
.bannerPicBtn{
	display: inline-block;
	width: 12px;
    height: 12px;
    background-color:#b5b2a8;
    border-radius: 50%;
    margin: 4px;
}
.bannerPicBtn:nth-child(1){
	margin-left: 47%;
	background-color:#5aaa16;
}
.topNavMenuBoxFather{
	width: 180px;
    height: 38px;
    position: absolute;
    top: 0;
    left: -510px;
    position: relative;
    background: #008842;
    z-index: 9;
    text-align: center;
    line-height: 38px;
    font-size: 15px;
    color: white;
    font-weight: bolder;
}
#topNavMenuBox{
	height: 464px;
	width: 180px;
	background: white;
	opacity: 0.9;
	position: absolute;
	top: 38px;
	left: 0;
}

.topNavMenuNameList{
	width: 180px;
	height: 42px;
	line-height: 42px;
	text-align:left;
	font-size: 14px;
	font-weight: 1;
	transition: all .5s;; 
}

.topNavMenuNameList:hover .topNavMenuName{
	display: block;
}
.topNavMenuNameListBtnPic{
	display: inline-block;
	margin-left: 20px;
	width: 24px;
	height: 24px;
	background-image: url(../img/icon/floor_guide.png);	
	background-repeat: no-repeat;
}
.topNavMenuNameList:nth-child(1) i{
	background-position: -7px -6px;
}
.topNavMenuNameList:nth-child(2) i{
	background-position: -47px -6px;
}
.topNavMenuNameList:nth-child(3) i{
	background-position: -87px -6px;
}
.topNavMenuNameList:nth-child(4) i{
	background-position: -127px -6px;
}
.topNavMenuNameList:nth-child(5) i{
	background-position: -7px -6px;
}
.topNavMenuNameList:nth-child(6) i{
	background-position: -167px -6px;
}
.topNavMenuNameList:nth-child(7) i{
	background-position: -207px -6px;
}
.topNavMenuNameList:nth-child(8) i{
	background-position: -247px -6px;
}
.topNavMenuNameList:nth-child(9) i{
	background-position: -287px -6px;
}
.topNavMenuNameList:nth-child(10) i{
	background-position: -206px -6px;
}
.topNavMenuNameList:nth-child(11) i{
	background-position: -368px -6px;
}
/*.topNavMenuNameListBtnPic:nth-child(2){
	background-position: -24px 0;
}*/
.topNavMenuName{
	z-index: 3;
    display: none;
    position: absolute;
    top: -38px;
    left: 170px;
    width: 215px;
    height: 464px;
    padding: 17px 20px;
    border: 1px solid #bbb;
    background: rgba(255, 255, 255, 0.9);
}
.adItem{
	height: 307px;
	margin: 30px auto;

}
.adItemPic{
	display: inline-block;
	width: 290px;
	height: 290px;
	margin-left: 13px;
	position: relative;
/*	z-index: 10;*/
}
.adItemPic:nth-child(1){
	margin-left: 0px;
/*	z-index: 10;*/
}
.adItemPic:hover{
	box-shadow:  2px 2px 5px #444;
}
.adItemText{
	position: absolute;
	top: 223px;
	left: 10px;
	width: 270px;
	height: 57px;
	background: white;
	opacity: 0.9;
}
.goodsFloor{
	height: 500px;
/*	background: green;*/
	position: relative;
}
.goodsFloorPicFlag{
	display: inline-block;
	width: 45px;
	height: 32px;
	background-image: url(../img/icon/floor_tit_icon.png);
	background-repeat: no-repeat;
	color: white;
	font-size: 14px;
	line-height: 40px;
	text-indent: 6px;
}
.goodsFloorNameBox{
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
}
.goodsFloorKindArea{
	display: inline-block;
	width: 200px;
	height: 32px;
	text-align: center;
	margin-top: -18px;
}
.FloorOneToThreeLeftPic{
	width: 275px;
	height: 463px;
	overflow: hidden;
	position: absolute;
	top: 37px;
	left: 0;
}
.FloorOneToThreeRightPicBox{
	width: 925px;
	height: 462px;
	border: 0.5px solid #B5B2A8;
	position: absolute;
	top: 37px;
	left: 274px;
	overflow: hidden;
}
.FloorOneToThreeRightPic{
	border: 0.5px solid #B5B2A8;
}
.goodsFloor{
	height: 500px;
/*	background: green;*/
	position: relative;
}
.goodsFloorMargin{
	margin-top: 20px;
}
.twoFlag{
	background-position: -46px 0;
}
.threeFlag{
	background-position: -184px 0;
}
.fourFlag{
	background-position: -92px 0;
}

.FloorFourToLastLeftPic{
	width: 275px;
	height: 463px;
	overflow: hidden;
	position: absolute;
	top: 37px;
	left: 0;
}
.FloorFourToLastRightPicBox{
	width: 677px;
	height: 462px;
	border: 0.5px solid #B5B2A8;
	position: absolute;
	top: 37px;
	left: 274px;
	overflow: hidden;
}
.FloorFourToLastRightPic{
	border: 0.5px solid #B5B2A8;
}
.FloorFourToLastTradeMarkBox{
	width: 677px;
	height: 77px;
	background: white
}
.FloorFourToLastTradeMarkPic{
	margin-left: 30px;
	margin-top: 14px;
	height: 52px;
	width: 80px;
}
.FloorFourToLastRightBigPic{
	width: 247px;
	height: 462px;
	border: 0.5px solid #B5B2A8;
	position: absolute;
	top: 37px;
	right: 0;
	overflow: hidden;
}
.moveRight{
	background: white;
	overflow: hidden;
}
.moveRight img{
	transition: all .5s;
}
.fiveFlag{
	background-position: -138px 0;
}
.sixFlag{
	background-position: -368px 0;
}
.sevenFlag{
	background-position: -230px 0;
}
.eightFlag{
	background-position: -414px 0;
}
.nineFlag{
	background-position: -531px 0;
	width: 55px;
}


/************************************footer*********************************/
.service{
	background: #e0e0e0;
    margin-top: 50px;
    padding: 30px 0;
}
.serviceBox{
	height: 42px;
}
.serviceNameList{
    width: 190px;
    height: 42px;
    margin-left: 55px;
    padding-left: 55px;
    background: url(../img/icon/footer_service_icon.png) no-repeat left top;
}
.serviceNameList:nth-child(1){
	background-position: 0 0;
}
.serviceNameList:nth-child(2){
	background-position: 0 -42px;
}
.serviceNameList:nth-child(3){
	background-position: 0 -84px;
}
.serviceNameList:nth-child(4){
	background-position: 0 -126px;
}
.serviceBox li b{
	display: block;
	padding-right: 75px;
    color: #007f4d;
    border-left: 1px solid #a6a6a6;
    font: normal 18px/25px "Microsoft YaHei";
}
.serviceBox li span {
    display: block;
    padding-right: 39px;
    border-left: 1px solid #a6a6a6;
}

.footerContent{
	height: 342px;
	margin-top: 50px;
}
.footerContentBox{
	width: 190px;
	height: 145px;
	margin-left: 55px;
	margin-top: 10px;
}
.footerContentTitle p{
	display: initial;
	text-indent: 20px;
	color: #444;
	font-size: 15px;
	padding-left: 15px;
}
.footerContentTitlePic{
	width: 30px;
	height: 23px;
	background-image: url(../img/icon/footer_icon.png);
}
.footerContentBox ul{
	display: block;
	height: 110px;
	width: 177px;
	margin-left: 13px;
	margin-top: 17px;
	border-left:1px dashed #a6a6a6; ;
}
.footerContentBox ul li{
	display: block;
	margin-top: 7px;
	margin-left: -85px;
}
.footerContentBox ul li:hover{
	text-decoration: underline;
	color: #007f4d;
}
.sidebar{
	height: 104px;
	width: 56px;
	position: fixed;
	right: 7px;
	top: 500px;
	z-index: 6;
}
.customerService{
	display: block;
	width: 50px;
	height: 42px;
	background-image: url(../img/icon/sidebar.png);
	background-position: 0 -46px;
}
.customerService:hover{
	background-position: -54px -46px;
}
#backTop{
	display: block;
	margin-top: 15px;
	width: 50px;
	height: 42px;
	background-image: url(../img/icon/sidebar.png);
	background-position: 0 0;	
}
#backTop:hover{
	background-position: -55px 0;
}
/***********************************左边侧边栏****************************************/
#sideBarMenu{
	width: 40px;
	height: 359px;
	position: fixed;
	left: 20px;
	top: 150px;
	z-index: 10;
	display: none;
}
.sideBarMenuBtnList{
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	z-index: 12;
}
.sideBarMenuBtn1{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
}
.sideBarMenuBtn2{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -40px 0;
}
.sideBarMenuBtn3{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -80px 0;
}
.sideBarMenuBtn4{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -120px 0;
}
.sideBarMenuBtn5{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -160px 0;
}
.sideBarMenuBtn6{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -200px 0;
}
.sideBarMenuBtn7{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -240px 0;
}
.sideBarMenuBtn8{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -280px 0;
}
.sideBarMenuBtn9{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/icon/floor_guide.png);	
	background-position: -320px 0;
}
/*.sideBarMenuBtnList:hover .sideBarMenuBtnText{
	display: block;
	text-decoration: none;
	color: white;
}*/
.sideBarMenuBtnText{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	text-indent: 4.1px;
	font-size: 12px;
	background: #008842;
	color: white;
	text-decoration: none;
}
